server {
    listen 80 default_server;
    listen [::]:80 default_server;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name  max localhost;

    # Logs
    error_log /var/log/nginx/error.log warn;
    access_log /var/log/nginx/access.log combined;

    gzip on;
    gzip_proxied any;

    ssl_certificate     /etc/nginx/ssl/max/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/max/privkey.pem;

    include /etc/nginx/nginx-ssl-optim.conf;



#    location /head {
#        proxy_pass http://head:9100/;
#        proxy_set_header Host $host;
#        proxy_set_header X-Real-IP $remote_addr;
#        proxy_set_header X-Forwarded-Proto $scheme;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#    }

    location /auth/ {
        proxy_pass http://max:8080/auth/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }


    location / {
        # proxy_pass http://kibana-proxy:3001/;
        proxy_pass http://kibana-proxy:3001/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

   # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}

}