# Compiled class file
.idea
*.iml

# maven
target

# Compiled class file
*.class

# Log file
*.log
/logs

# Project
/config/certs/*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
